<table>
    <th colspan="2">
        Employee Detail
    </th>
    <tr>
        <td>FirstName:</td>
        <td>{{f1name}}</td>
    </tr>
    <tr>
        <td>LastName:</td>
        <td>{{l1name}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td>Gender:</td>
        <td>{{g1ender}}</td>
    </tr>
    <tr *ngIf='showDetails'>
        <td>Age:</td>
        <td>{{a1ge}}</td>
    </tr>
    
</table>
<br/>
<button (click)='toggleDetails() '>
{{showDetails ? 'Hide': 'Show '}}  Details
</button>