<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">

        <input type="text" #nameRef="ngModel" required minlength="4" class="form-control" placeholder="Yourname" name="name" ngModel>
        <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
            <div [hidden]="!nameRef.errors.required">{{username}} </div>
            <div [hidden]="!nameRef.errors.minlength">{{usernamelength}} </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">

        <input type="email" #emailRef="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required class="form-control"
            placeholder="Email" name="email" ngModel>
        <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" class="alert alert-danger">
            <div [hidden]="!emailRef.errors.required "> {{emailid}}</div>
            <div [hidden]="!emailRef.errors.pattern "> {{emailidpattern}}</div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">

        <input type="text" #mobileRef="ngModel" pattern="^[1-9][0-9]{9}$" required class="form-control" placeholder="Mobile" name="mobile"
            ngModel>
        <div *ngIf="mobileRef.errors && (mobileRef.dirty || mobileRef.touched)" class="alert alert-danger">
            <div [hidden]="!mobileRef.errors.required">{{mobileno}} </div>
            <div [hidden]="!mobileRef.errors.pattern">{{mobilenolength}} </div>

        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="form-group">

        <input type="text" #addRef="ngModel" required minlength="20" class="form-control" placeholder="Address" name="address" ngModel>
        <div *ngIf="addRef.errors && (addRef.dirty || addRef.touched || addRef.valid)" class="alert alert-danger">
            <div [hidden]="!addRef.errors.required ">{{address}} </div>
            <div [hidden]="!addRef.errors.minlength ">{{addresslength}} </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <button [disabled]=" !userForm.form.valid" type="submit" class="btn btn-primary">Submit</button>
</form>