<nav class="navbar navbar-default">
  <div style="padding: 5px">

    <ul class="nav nav-tabs">
      <li routerLinkActive="Active">
        <a [routerLink]="['/']">CustomerForm</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['calculator']">Calculator</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['onewaybinding']">onewaybinding</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['cssBinding']">CssBinding</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['eventBinding']">Eventbinding</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['twowayBinding']">TwoWaybinding</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['ngfor']">ngFor</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['employees']">Employeedetail</a>
      </li>
      <li routerLinkActive ="Active">
        <a [routerLink]="['validationform']" rel="noopener" href="#">ValidationForm</a>
      </li>

    </ul>
  </div>
</nav>
<nav class="navbar-default">

  <router-outlet></router-outlet>
</nav>
<!-- <div style="text-align:center">
 
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<!-- <h1>Welcome to Angular</h1> -->
<!-- <h2>CustomerForm</h2> -->
<!-- <CustAng></CustAng>  -->
<!-- <CustomerForm></CustomerForm>
<LogIn></LogIn>
<Fullname></Fullname>
<calculator></calculator>
<interpolation1></interpolation1>
<cssBinding></cssBinding>
<eventbinding></eventbinding>
<twowaybinding></twowaybinding>
<ngfor></ngfor>-->
<!-- <employeedetail></employeedetail>  -->




<!-- <a href="https://angular.io/guide/quickstart">google</a>
<simpleex></simpleex> -->